@charset "UTF-8";

@media screen and (min-width: 768px){
    i#burger{
        display: none;
    }

    menu{
        display: none;
    }

    nav{
        display: block;
    }

    main{
        max-width: 768px;
    }
}